{% extends 'bootstrap/base.html' %}
{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
{% block title %}Image Pallet Generator{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">Image Pallet Generator </h1>
  <p class="lead">Know the color used in Image.</p>
  <hr class="my-4">

        <a class="btn btn-warning btn-lg" href="{{ url_for('get_image') }}" role="button">Get Image and generate color pallet</a>


</div>
    </div>

{% endblock %}
